@import url(./__container/popup__container.css);
@import url(./__close-btn/popup__close-btn.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__save/popup__save.css);
@import url(./__title/popup__title.css);
@import url(./__large-image/popup__large-image.css);
@import url(./__caption/popup__caption.css);
@import url(./__new-container/popup__new-container.css);

.popup{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    animation: popupFade 3s;
}
.popup_is-open{
    display: flex;
    background: #0000006b;

}


@media screen and (max-width: 700px){
    .popup{
        max-width: 354px;

    }
}
@media screen and (max-width: 400px){
    .popup{
        max-width: 100%;

    }
}