.profile__edit-button{
 width: 18px;
 height: 18px;
 margin-top: 48px;
 border: 1px solid #FFFFFF;
background-color: black;
background-image: url(../../../images/pencil.svg);
background-position: center;
object-fit: cover; 
background-repeat: no-repeat;

}
.profile__edit-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

