.profile__edit-button{
 width: 24px;
 height: 24px;
 margin-top: 48px;
 border: 1px solid #FFFFFF;
background-color: black;
background-image: url(../../../images/pencil.svg);
background-position: center;
object-fit: cover; 
background-repeat: no-repeat;

}
.profile__edit-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width:420px){
.profile__edit-button{
font-size:14px;
line-height:17px;
 margin-top: 40px;
}}
