@import url(./__logo/header__logo.css);


.header {
  padding-top: 40px;
  padding-bottom: 0;
  max-width: 882px;
  margin: auto;
  border-bottom: 1px solid hsla(0, 0%, 33%, .7);
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    max-width: 320px;
    margin: auto;
  }
}