@import url(./__vector/header__vector.css);



.header{
    display: flex;    
    padding-bottom: 41px;  
    padding-top: 45px;
    max-width: 882px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7)
}

@media screen and (max-width: 410px){
    .header{
        max-width: 320px;
        max-height: 56px;
        margin-top: 0;
        margin-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-top: 28px;
        

    }
}