.popup__new-container{
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex; /* Hidden by default */
    flex-direction: column;
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent /* Black w/ opacity */
}
