.profile__add-button{
 align-self: center;
 margin-top: 42px;
 margin-left:150px ;
width: 150px;
height: 50px;
border: 2px solid #FFFFFF; 
border-radius: 2px;
background-image: url("/web_project_4/images/cross.svg");
color: #E5E5E5;
box-sizing: border-box;
background-position: center;
object-fit: cover; 
background-repeat: no-repeat;
background-color:#2A2C2F;

 
}





