.profile__add-button{
 align-self: center;
 margin-top: 42px;
width: 150px;
height: 50px; 
border: 2px solid #FFFFFF; 
border-radius: 2px;
background-image: url("../../../images/cross.svg");
color: #E5E5E5;
box-sizing: border-box;
background-position: center;
object-fit: cover; 
background-repeat: no-repeat;
background-color:#2A2C2F;
}

.profile__add-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width:769px){
    .profile__add-button{
      width:100%;
       margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}



