.profile__add-button{
margin-top:50px;
margin-left: auto;
width: 150px;
height: 50px; 
border: 2px solid #FFFFFF; 
border-radius: 2px;
background-image: url("../../../images/cross.svg");
color: #E5E5E5;
box-sizing: border-box;
background-position: center;
object-fit: cover; 
background-repeat: no-repeat;
background-color: #000000;
}

.profile__add-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width:769px){
    .profile__add-button{
      width:100%;
       margin-top: 35px;
       margin-left: auto;
       margin-right: auto;
         
         
    }
}



