.popup__submit{

width: 358px;
height: 50.15px;
border-radius: 2px;
background-color:blue;
  color: white;
  cursor: pointer;
  opacity: 1.0;
  border-style: none;
}

.popup__submit:hover{
  cursor: pointer;
  opacity: 0.8;
}
