.popup__close{
  width: 58px;
  height:48px;
  opacity: 1.0;
  z-index: 2;
  top: -50px;
  right: -50px;
  position: absolute;
  background-image: url("../../../images/close_rotate.svg");
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;
  border: none;
  align-self: center;
  background-color:transparent;

}

.popup__close:hover{
  cursor: pointer;
  opacity: 0.6;
}


@media screen and (max-width:320px){
  .popup__close{
  width: 58px;
  height:48px;
  top: -60px;
  right: -130px;
   
  
  
 }}