.profile__name {
display: flex;
max-width: 380px;
align-self: center;
/* margin-left: auto; */
height: 43px;
margin-bottom:0;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 56px;
overflow: hidden;
text-overflow: ellipsis;
padding-right: 31px; 
color: #FFFFFF;
} 


@media screen and (max-width: 1024px) {
  .profile__name {
    font-size: 30px;
    padding-right: 14px;
    width: 267px;
  }
}



@media screen and (max-width: 425px) {
  .profile__name {
    font-size: 22px;
    line-height: 56px;
    width:201px;
  
   
  }
}