 .profile__description{
   width: 318px;
   font-weight: normal;
    font-size: 18px;
    line-height: 22px;
     color: #FFFFFF; 
    flex-basis: 100%;    
  } 
 @media screen and (max-width:765px){
   .profile__description{
   max-width: 380px;

   }}

    @media screen and (max-width:320px){
     .profile__description{
  font-size:14px;
  line-height:17px;
     }} 

