.profile__info{
    display: flex;
    flex-wrap: wrap;  
    max-width: 428px;
  
} 
 @media screen and (max-width:400px){
  .profile__info{
 display: flex;
 
flex-wrap: wrap; 
 margin-right: 3.75px; 
width:280px;
height:66px;
align-items: center;
 
}}
 