.profile__info{
    display: flex;
    flex-wrap: wrap;  
    max-width: 428px;
    margin-right: 77px;
} 
 





    @media screen and (max-width:1024px){
  .profile__info{
        max-width:480px; 
         margin-right:auto;
         margin-left:auto;
         
  }}
 

   @media screen and (max-width:320px){
  .profile__info{
        max-width:480px; 
         margin-right:auto;
         margin-left:50px;
         
  }}