.elements__heart-active {
    opacity: 1;
    background-image: url(../../../images/heart-filled.svg);
    background-repeat: no-repeat;
    color: #000000;
    transition-duration: .4s;
    cursor: pointer;
    background-position: center;
    border: none;
    width: 21px;
}
.elements__heart-active:hover{
    opacity: 1;
}