.elements__heart{
    color: #000000;
    transition-duration: .4s;
    cursor: pointer;
    background-position: center;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    width: 21px;



}
.elements__heart:hover {
    opacity: 0.5;
}

