 .profile__occupation{
   width: 318px;
   font-weight: normal;
    font-size: 18px;
    line-height: 22px;
     color: #FFFFFF; 
    flex-basis: 100%;    
  } 
 @media screen and (max-width:765px){
   .profile__occupation{
   max-width: 280px;

   }}