.elements__list{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 882px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    grid-gap: 18px 21px;
    margin-top: 51px;
}
@media screen and (max-width: 780px){
    .elements{
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        margin: 51px auto 0;
    }
}

@media screen and (max-width: 400px){
    .elements{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 53px;
    }
}